.topics-wizard-content {
  max-width: 500px;
}

.create-topic-wizard .pf-c-form__group-control > * {
  margin-bottom: var(--pf-global--spacer--md);
}

.form-in-wizard {
  padding-top: var(--pf-global--spacer--md);
}

.radio-description {
  padding-left: var(--pf-global--spacer--lg);
}

.radio-step-3 {
  margin-top: var(--pf-global--spacer--lg);
}

.create-topic-wizard {
  margin-top: var(--pf-global--spacer--md);
}

.topics-wizard-content .pf-c-form {
  margin-top: var(--pf-global--spacer--lg);
  margin-bottom: var(--pf-global--spacer--3xl);
}

.create-topic-wizard .form-group-radio .pf-c-form__group-control > * {
  margin-bottom: var(--pf-global--spacer--md);
}

.minimum-insync-replicas {
  margin-top: var(--pf-global--spacer--md);
  margin-bottom: var(--pf-global--spacer--xs) !important;
}

.pf-c-jump-links__label {
  text-transform: uppercase;
}

.pf-c-number-input {
  display: block;
}

.pf-c-dropdown,
.pf-c-dropdown__toggle {
  width: 100%;
}
.breadcrumbs-padding {
  padding-left: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 14px;
}

.title-padding {
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.switch-padding {
  padding-left: 20px;
  padding-bottom: 20px;
}
