/* Make sure the forms aren't too wide */
.pf-c-wizard__main-body,
.topics-advanced-config {
  max-width: 600px;
}

/* stack provides the vertical spacing */
.wizard-main-body__stack {
  --pf-l-stack--m-gutter--MarginBottom: var(--pf-global--spacer--lg);
}

.radio__parameters {
  padding-left: var(--pf-global--spacer--lg);
}

.kafka-ui--topic-switch {
  margin-top: var(--pf-global--spacer--md);
}

.topic-advanced-config__stack {
  --pf-l-stack--m-gutter--MarginBottom: var(--pf-global--spacer--2xl);
}

.pf-c-jump-links__label {
  text-transform: uppercase;
}

/* let the number input stretch horizontally */
.pf-c-number-input {
  min-width: 100%;
}
