/* Make sure the forms aren't too wide */
.pf-c-wizard__main-body,
.kafka-ui--topics-advanced-config {
  max-width: 600px;
}

/* stack provides the vertical spacing */
.kafka-ui--wizard-main-body__stack {
  --pf-l-stack--m-gutter--MarginBottom: var(--pf-global--spacer--lg);
}

.kafka-ui--radio__parameters {
  padding-left: var(--pf-global--spacer--lg);
}

.kafka-ui--topic-switch {
  margin-top: var(--pf-global--spacer--md);
}

.pf-c-jump-links__label {
  text-transform: uppercase;
}

/* let the number input stretch horizontally */
.pf-c-number-input {
  min-width: 100%;
}

.kafka-ui--sticky-footer {
  position: sticky;
  bottom: 0;
  background: var(--pf-global--BackgroundColor--100);
  padding-top: var(--pf-global--spacer--lg);
  padding-bottom: var(--pf-global--spacer--lg);
}
