version: '2'
services:
  keycloak:
    image: quay.io/keycloak/keycloak:13.0.1
    ports:
      - '8080:8080'
    environment:
      DB_VENDOR: h2
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
