.home {
  align-items: center;
  color: #182c46;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", "Open Sans", sans-serif;
  height: 98vh;
  justify-content: center;
}

/* Needed for federated modules */
/* stylelint-disable-next-line */
main#root {
  display: contents !important;
}

.kafka-ui--consumer-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*This is used on TabContent to make it the full height of the content area*/
.kafka-ui-m-full-height {
  height: 100%;
}

.kafka-section-m-full-height {
  height: 80%;
}
