.section-info-head {
  margin-bottom: 0 !important;
}

.section-info,
.section-info-note {
  margin-bottom: 1rem;
}

.kafka-ui--tab-padding {
  --pf-c-tabs--inset: var(--pf-global--spacer--xl);
}

/* This is only to apply it when in app services,
because the PatternFly CSS is being included again after the custom CSS */
#root .kafka-ui--page__main-section--adjust-padding {
  padding-top: var(--pf-global--spacer--lg);
  padding-right: var(--pf-global--spacer--lg);
  padding-bottom: var(--pf-global--spacer--lg);
  padding-left: var(--pf-global--spacer--lg);
}
