.breadcrumb-padding,
.grid-item-padding {
  padding: 30px;
}

.header-padding {
  padding-left: 30px;
}

.section-margin {
  margin-top: 2rem;
}

.section-info-head {
  margin-bottom: 0 !important;
}

.section-info,
.section-info-note {
  margin-bottom: 1rem;
}
